:root {
    --bg-color: #112226;
    --dark-color: #0C3B40;
    --dark-color-tran: rgba(12, 59, 64, 0.5);
    --header-color: #2b777e;
    --header-color-tran: rgba(43, 119, 126, 0.7);
    --dark-red: #73363B;
    --red: #F25E6B;
    --lime: #A9BF5A;
    --dark-lime: #6d7a3d;
    
}

* {
    margin: 0;
}

/* Header */
header {
    background-color: var(--dark-color);
    color: var(--header-color);
    display: flex;
    height: 50px;
}

header div {
    width: 100%;
}

header img {
    margin-top: 5px;
    height: 40px;
    float: right;
    position: absolute;
    top: 0px;
    right: 5px;
}

header h1 {
    margin-top: 8px;
    font-family: sans-serif;
    text-transform: uppercase;
}

header h2 {
    margin-top: 8px;
    font-family: sans-serif;
    text-transform: uppercase;
    margin: 12px 5% 0;
}

#score {
    display: flex;
    justify-content: center;
    position: absolute;
}

#github {
    margin-right: 5px;
}

/* Options */
.options {
    height: 50px;
    display: flex;
    width: 100%;
    display: flex;
}

.options button  {
    background-color: var(--bg-color);
    display: inline-block;
    color: var(--header-color);
    font-family: sans-serif;
    font-size: 25px;
    padding: 11px 10px;
    border: none;
}

.color-type {
    margin: 0 auto;
    display: flex;
}

.dificulty-type {
    margin: 0 auto;
    display: flex;
}

#rgb {
    background-color: var(--dark-color);
}

#easy {
    background-color: var(--dark-color);
}

body {
    background-color: var(--bg-color);
}

/* Banner */
#guess {
    background-color: var(--dark-color-tran);
    height: 100px;
    padding-top: 15px;
}

#guess h2 {
    color: var(--header-color-tran);
    font-family: sans-serif;
    font-size: 70px;
    text-align: center;
}

/* Panels */
#panels, #panels-hard {
    margin-top: 30px;
    justify-content: center;
    display: flex;
}

#panels-hard {
    display: none;
}

#panels button, #panels-hard button {
    background-color: var(--lime);
    width: 250px;
    height: 250px;
    margin: 0 15px;
    border: solid red 0;
    border-radius: 60px;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: var(--dark-color);
}

@media only screen and (max-width: 1100px) {
    #score {
        position: static;
    }
}

@media only screen and (max-width: 850px) {
    header {
        height: 100px;
        display: block;
        margin-top: 0;
    }

    header h1 {
        padding-top: 11px;
        margin-top: 0;
        text-align: center;
    } 

    #panels button, #panels-hard button {
        width: 27vw;
        height: 27vw;
        border-radius: 7vw;
    }
}

@media only screen and (max-width: 635px) {
    #guess h2 {
        font-size: 10vw;
    }

    #guess {
        height: 14vw;
    }
}